.blg{
   display: flex;
   flex-direction: column;
   height: 300px;
   width: 300px;
   border-radius: 10px;
   box-shadow: 0 0 10px 1px rgb(226, 222, 222);
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
}
.blg img{
   width: 300px;
   height: 150px;
}
.blog span{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 15px 20px;
   background-color:rgb(186, 191, 217);
   color: rgb(70, 70, 213);
   font-weight: 520;
   width: 120px;
   border-radius: 20px;
   font-size: 13px;
}
.blg-tops h5{
   margin-top: -1px;
   margin-top: 5px;
   margin: 0px 20px;
   font-size: 15px;
}
.blg-tops p{
   font-size: 14px;
   margin: 10px 20px;
}
.blg:hover{
   transform: scale(1.07);
}