.cmnts-image{
   width: 10%;
   cursor: pointer;
}
.im{
   margin-right: 2vh;
}
.cmnt-title{
   color: black;

}
.cmnts-bod{
   font-size: 15px;
}
.span{
   font-size: 15px;
   font-weight: 600;
   color: rgb(87, 81, 81);
}
.cmnt-titl{
   margin-bottom: 40px;
}
.cmnt-cmnt{
   margin-top: -1vh;
}
.approvenot{
   display: flex;
   align-items: center;
   gap: 1vh;
}