.footer{
   margin-top: 13vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: rgb(243, 243, 244);
   width: 100%;
}
.footer-mid{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 700px;
}
.footer-low{
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer-low h3{
   display: flex;
   margin-left: 4vh;
}
.footer-logo{
   max-width: 500px;
}
.footer-low ul{
   text-decoration: none;
}
a{
   display: flex;
   text-decoration: none;
   color: inherit;
}
ul{
   list-style: none;
   padding-right: 10vh;
}
.footer hr{
   margin-top: 30px;
   height: 0.5px;
   width: 1000px;
   background: black;
}
.footer-data{
   display: flex;
   flex-direction: column;
}