.dashboard{
   margin-top: -91vh;
   margin-left: 30vh;
}
.dashboard-main{
   display: flex;
   gap: 2vh;
}
.dashboard-img{
   display: flex;
   align-items: center;
   gap: 2vh;
}
.dashboard-blog{
   font-weight: 600;
   font-size: 20px;
}
.dashboard-blogs{
   font-weight: 500;
   color: gray;
   font-size: 16px;
   margin-top: -15px;
}
.dashboard-data{
   width: 20vh;
   box-shadow: 0 0 4px gainsboro;
   height: 100px;
   padding-left: 30px;
}
.dashboard-blogs{
   margin-top: 2vh;
}
.dashboard-latest{
   margin-top: 1.8vh;
}
.latest-img{
   display: flex;
   gap:10px;
}
.table-data{
   padding-left: 20px;
   display: grid;
   grid-template-columns: 0.1fr 1.5fr 0.5fr 0.5fr 0.5fr 0.3fr;
   max-width: 1200px;
   color: rgb(81, 78, 78);
   font-weight: 550;
   box-shadow: 0 0 6px rgba(0,0,0,0.1);
}